* {
  margin: 0px;
  padding: 0px;
  font-family: Poppins, sans-serif !important;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem !important;
  font-weight: 900;
  letter-spacing: 1.25px;
  margin: 10px 30px 10px 4px;
}

.logo img {
  height: 35px;
  margin-top: 4px;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  top: 57px !important;
}

.MuiButton-containedSizeLarge {
  padding: 12px 22px !important;
  font-size: 0.9375rem;
}

.container {
  width: 96%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 1rem;
}

.flex {
  display: flex;
}

.search {
  display: inline-block;
}

.search input {
  width: 468px;
  border-radius: 24px !important;
}

.search input {
  text-indent: 30px;
}

.search .search {
  position: absolute;
  top: 16px;
}

.button1 {
  height: max-content;
  width: max-content;
  opacity: 1;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(218, 0, 123),
    rgb(39, 92, 236)
  );
  border-radius: 15px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 2px;
  overflow: hidden;
  user-select: none;
  margin: 10px 10px;
}

.icon {
  background-image: linear-gradient(
    to right,
    rgb(218, 0, 123),
    rgb(39, 92, 236)
  );
  color: white;
  border-radius: 18px;
  margin: 0px 4px;
}

.btn-inner {
  padding: 12px 21px;
  background-color: white;
  border-radius: 13px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.btn-inner p {
  font-weight: 800;
  color: rgb(0, 0, 0);
  padding: 2px 10px;
}
.btn {
  padding: 8px 8px;
  border-image: url("./images/border.jpeg") 30 round;
}
.borderimg {
  border: 3px solid red;
  border-radius: 25px;
  border-image: url("./images/border.jpeg") 2 round;
}
.list li {
  list-style: none;
  padding: 11px 21px;
  font-size: 1rem;
  color: rgb(54, 56, 63);
  font-weight: 600;
}
.menu {
  display: none;
}
.btn :hover {
  background-image: url("./images/download.jpeg");
  background-position: 40% 43%;
  color: white;
}
@media screen and (max-width: 320px) {
  .list,
  .search,
  .user {
    display: none;
  }
  .menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
  .list,
  .user {
    display: none;
  }
  .search input {
    width: 260px;
  }
  .tabs {
    width: 40% !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .menu {
    display: block;
  }

  .list,
  .user {
    display: none;
  }

  .tabs {
    width: 24% !important;
  }
}

@media (max-width: 992) {
  .search {
    display: block;
  }

  .list,
  .user {
    display: none;
  }
}

.tab {
  background-color: #aaa;
  width: 150px;
}

.gredient {
  background-color: red;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  border: none;
}

.all {
  padding: 0px 20px;
}

.search.search {
  left: 10px;
  right: auto;
}

.carousel-item {
  padding: 15px;
  cursor: -webkit-grabbing;
}

img {
  border-radius: 30px;
  height: 500px;
  transition: 0.25s linear;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 2px;
  position: relative;
  top: 30px;
}

.carousel-control-prev {
  left: -50px;
  margin: 0 -25px;
}

.carousel-control-next {
  right: -50px;
  margin: 0 -25px;
}

.tab {
  margin-bottom: 10px;
}

.MuiOutlinedInput-input {
  padding: 14.5px 14px !important;
}

.tabs {
  width: 14%;
  border-radius: 8px;
  background-color: rgb(239, 239, 239);
  padding: 4px 4px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  z-index: 99999;
  color: white;
}

.css-1aquho2-MuiTabs-indicator {
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 18px;
  padding: 22px 0px;
  background-image: url("./images/download.jpeg");
  background-position: 42% 43%;
  border-radius: 10px !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #b6a293;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 8px;
  margin: 0 10px;
  font-size: 1.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.image-container {
  position: relative;
}

.image-text {
  position: absolute;
  top: 2%;
}

.image-text img {
  border-radius: 30px;
  height: 178px;
  transition: 0.25s linear;
  width: 100%;
}
.slider-img{
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.slider-img:hover{
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
/* /////////////// */


.img-wrapper {  
  width: 400px;
  height: 400px;
  overflow: hidden; 
}

.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}

/* Other styling elements, that are not necessary for the example */

.img-wrapper {
  display: inline-block;
  box-sizing: border-box;
}